

//font size
$size-smallest: 0.625rem;
$ize-smaller: 0.75rem;
$size-small: 0.875rem;
$size-normal: 1rem;
$size-big: 1.125rem;
$size-bigger: 1.25rem;
$size-bigger-big: 1.5rem;
$size-bigger-bigger: 1.875rem;
$size-biggest: 2rem;



